<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Neranga Urapola</title>
  <meta name="description" content="Greetings, I'm Neranga Urapola, and I'm delighted to connect with professionals like you within this vibrant network. With a fervent commitment to harnessing technology for innovation, I've cultivated my expertise as a software engineer specializing in SpringBoot API and REST API development. ">
  <meta name="keywords" content="Neranga  Urapola,Java Devloper,Spring Boot Developer,Neranga E Urapola">
  <meta name="author" content="Neranga Urapola">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
  <link rel="stylesheet" href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
  <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet"/>


  <!-- Favicons -->
  <link href="/images/favicon.png" rel="icon">
  <link href="/images/favicon.png" rel="shortcut icon">
  <link href="/images/apple-touch-icon.png" rel="apple-touch-icon">
  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
  <link href="/assets/css/printout.css" rel="stylesheet">
  <!-- Template Main CSS File -->
  <link href="/assets/css/style.css" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/chat.css"/>
  <link rel="stylesheet" href="/assets/css/message.css"/>
</head>
<body>
  <!-- ======= Mobile nav toggle button ======= -->
  <i class="bi bi-list mobile-nav-toggle d-xl-none"></i>
  <!-- ======= Header ======= -->
  <header id="header">
    <div class="d-flex flex-column">
      <div class="profile">
        <div>
          &nbsp;&nbsp;
        </div>
        <div>
          &nbsp;&nbsp;
        </div>
        <h5 class="text-light" ><a class="colorChange" href="/">Neranga (Neo) Urapola</a></h5>
        <div class="social-links mt-3 text-center">
          <a href="https://github.com/neranga6" class="github"><i class="bx bxl-github"></i></a>
          <a href="https://www.facebook.com/neranga.urapola" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.linkedin.com/in/neranga-u-5560ba132/" class="linkedin"><i class="bx bxl-linkedin"></i></a>
        </div>
      </div>
      <nav id="navbar" class="nav-menu navbar">
        <ul>
          <li><a href="#hero" class="nav-link scrollto active"><i class="bx bx-home"></i><span>Home</span></a></li>
          <li><a href="#about" class="nav-link scrollto"><i class="bx bx-user"></i> <span>About</span></a></li>
          <li><a href="#resume" class="nav-link scrollto"><i class="bx bx-file-blank"></i> <span>Resume</span></a></li>
          <li><a href="#experience" class="nav-link scrollto"><i class="bx bx-highlight"></i><span>Experience</span></a></li>
          <li><a href="#skills" class="nav-link scrollto"><i class="bx bx-book"></i><span>Skills</span></a></li>
          <li><a href="#contact" class="nav-link scrollto"><i class="bx bx-envelope"></i> <span>Contact</span></a></li>
        </ul>
      </nav><!-- .nav-menu -->
    </div>
  </header>
<!-- End Header -->
 <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-center align-items-center">
    <div class="hero-container" data-aos="fade-in">
      <h1 class="animate-charcter-header" id="name"> </h1>
      <div><h4 style="color:#ffffff;" id="specialized"> </h4>
      <div id="output">
        <div style="text-align: center;">
          <span class="system-text">System</span>
          <span class="out-text">.out.</span>
          <span class="println-text">println()</span>
        </div>
      </div>
    </div>
    </div>
  </section><!-- End Hero -->
  <main id="main"  style="background-color:rgba(1,8,16,0.3)">
    <!-- ======= About Section ======= -->
    <section id="about" class="about" style="background-color:rgba(1,8,16,0.3)" data-aos="fade-right">
      <div class="container">
      <b> <h1>Quote of the Day</h1>
        <div id="quoteContainer" class="quote loading">Loading quote...</div>
        <div id="errorContainer" class="error" style="display:none;">An error occurred. Please try again later.</div>
        <!-- Quote content will be dynamically updated here using api--></b>
      <b><div id="author" class="developer">

      </div></b>
      <div>
        &nbsp;&nbsp;
      </div>
        <div class="section-title">
          <h2>About</h2><div>
          <p id="about_me">&nbsp;</p>
            </div>
            </div>
            </div>
        </section>
      <section id="developer" class="developer" style="background-color:rgba(1,8,16,0.3)" data-aos="fade-right" >
        <div class="container">
          <div class="section-title">
            <h2>Web Developer & API Developer</h2>
            <p id="web">&nbsp;</p>
        </div>
        </div>
    </section>
    <!-- End About Section -->
    <!-- ======= Skills Section ======= -->
    <section id="skills" class="skills section-bg" style="background-color:rgba(1,8,16,0.3)" data-aos="fade-right">
      <div class="container">
        <div class="section-title">
          <h2>Skills</h2>
    <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="testimonial-item" data-aos="fade-up">
            <div class="services-list" >
              <div class="box">
              <ul class="list-services" >
                <b><li>Java</li></b>
                <b><li>HTML</li></b>
                <b><li>SQL</li></b>
                <b><li>UNIX</li></b>
                <b><li>Java Script</li></b>
                <b><li>CSS</li></b>
                <b><li>XML/JSON</li></b>
                <b><li>Groovy</li></b>
              </ul>
            </div>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->
        <div class="swiper-slide">
          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
            <div class="services-icon2"></div>
            <div class="services-list" >
              <div class="box">
              <ul class="list-services">
                <b><li>MicroService</li></b>
                <b><li>REST-API</li></b>
                <b><li>Eclipse/RAD/Intellij/RAD</li></b>
                <b><li>PCF/Azure/GCP</li></b>
                <b><li>WebSphere/TomCat/JBoss</li></b>
                <b><li>GIT/BitBucket/SVN</li></b>
                <b><li>JSP/GSP/Serverlets</li></b>
                <b><li>Junit/Spock</li></b>
              </ul>
            </div>
            </div>
          </div>
        </div>
        <!-- End testimonial item -->
        <div class="swiper-slide" >
          <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200" >
            <div class="services-icon3" ></div>
            <div class="services-list" >
              <div class="box">
              <ul class="list-services" >
                <b><li>SpringBoot-Data</li></b>
                <b><li>Spring-Boot</li></b>
                <b><li>SpringBoot-MVC</li></b>
                <b><li>SpringBoot-Data</li></b>
                <b><li>SpringBoot-Security</li></b>
                <b><li>Rabbit-MQ</li></b>
                <b><li>Jenkins/Bamboo/GitLab</li></b>
                <b><li>Maven/Gradle/Ant</li></b>
              </ul>
            </div>
            </div>
          </div>
          </div>
        </div>
      <!-- End testimonial item -->
      </div>
      <div class="swiper-pagination"></div>
    </div>
    </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Resume Section ======= -->
    <section id="resume" class="resume" style="background-color:rgba(1,8,16,0.3)" data-aos="fade-right">
      <div class="container">
        <div class="section-title">
          <h2>Resume</h2>
          <b><p id="qte"></p></b>
        </div>
        <div class="row">
          <div class="col-lg-6" data-aos="fade-up">
            <div class="resume-item pb-0">
              <h4>Neranga Urapola </h4>
              <div>
                <a th:href="@{/resume-page}" type="link"><img th:src="@{/qrcode}" alt="QR Code" class="img-border"></a>
              </div>
              &nbsp;
            </div>
              <div>
                <b><p id="instructions"></p></b>

          </div>
        </div>
      </div>
      </div>
    </section><!-- End Resume Section -->
    <!-- ======= Testimonials Section ======= -->
    <section id="experience"  class="testimonials section-bg" style="background-color:rgba(1,8,16,0.3)" data-aos="fade-right">
      <div class="container">
        <div class="section-title" >
          <h2>Experience Highlights</h2>
        </div>
        <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up">
                <div class="services-list" >
                  <ul class="list-services" >
                    <li><p>API Design</p></li>
                    <li><p>User Interface Development</p></li>
                    <li><p>Cloud Server Configurations</p></li>
                    <li><p>Cloud APP Deployments</p></li>
                    <li><p>CI/CD Pipeline Configurations</p></li>
                  </ul>
                </div>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide">
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="100">
                <div class="services-icon2"></div>
                <div class="services-list" >
                  <ul class="list-services">
                    <li ><p>Web App Integration Services</p></li>
                    <li><p>Web App Design and Development</p></li>
                    <li><p>Cloud Deployment</p></li>
                    <li><p>Web App Maintenance </p></li>
                    <li><p>Ecommerce Development</p></li>
                  </ul>
                </div>
              </div>
            </div><!-- End testimonial item -->
            <div class="swiper-slide" >
              <div class="testimonial-item" data-aos="fade-up" data-aos-delay="200" >
                <div class="services-icon3" ></div>
                <div class="services-list" >
                  <ul class="list-services" >
                    <li ><p >Custom REST API Integration</p></li>
                    <li ><p >REST Spring-Boot API Development</p></li>
                    <li ><p >API Maintains</p></li>
                    <li ><p >Ecommerce API Development</p></li>
                    <li ><p >Messaging Services</p></li>
                  </ul>
                </div>
              </div>
            </div><!-- End testimonial item -->
          </div>
          <div class="swiper-pagination"></div>
        </div>
      </div>
    </section><!-- End Testimonials Section -->
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact" style="background-color:rgba(1,8,16,0.3)" data-aos="fade-right">
      <div class="container" >
        <div class="section-title">
          <h2>Contact</h2>
        </div>
        <div class="row" data-aos="fade-in">
          <div class="col-lg-5 d-flex align-items-stretch"  >
            <div class="info">
              <div class="address">
                <i class="bi bi-geo-alt"></i>
                <h4>Location:</h4>
                <p>Frisco,TX</p>
              </div>
              <iframe src="//maps.google.com/maps?q=33.1507,-96.8236&output=embed" frameborder="0" style="border:0; width: 100%; height: 290px;" allowfullscreen></iframe>
            </div>
          </div>
          <div>
            <div>
              &nbsp;&nbsp;
            </div>
            <div>
              &nbsp;&nbsp;
            </div>
            <div class="container">
              <div class="text">
                Contact us Form
              </div>
              <div id="dialog" class="dialog" title="Message"></div>

              <form th:action="@{/contact}" method="post" id="contactForm">
                <div class="form-row">
                  <div class="input-data">
                    <input type="text" name="firstName"  id="firstName" placeholder="FirstName" style="background:rgba(45,46,47,0.3)" required>
                    <div class="underline"></div>

                  </div>
                  <div class="input-data">
                    <input type="text" name="lastName" id="lastName" placeholder="LastName" style="background:rgba(45,46,47,0.3)"required>
                    <div class="underline"></div>


                  </div>
                </div>
                <div class="form-row">
                  <div class="input-data">
                    <input type="text" name="email" id="email"  placeholder="E-Mail" style="background:rgba(45,46,47,0.3)" required>
                    <div class="underline"></div>

                  </div>
                  <div class="input-data">
                    <input type="text" name="subject" id="subject" placeholder="Subject" style="background:rgba(45,46,47,0.3)" required>
                    <div class="underline"></div>

                  </div>
                </div>
                <div class="form-row">
                  <div class="input-data textarea">
                    <input type="text" name="message" id="message" placeholder="Type your message here..." style="background:rgba(45,46,47,0.3)" rows="8" cols="80" required></input>
                     <div class="form-row submit-btn">
                      <div class="input-data">
                        <div class="inner"></div>
                        <input type="submit" value="submit">
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            </div>
            </div>
          </div>
         </div>
    </section><!-- End Contact Section -->
    <input id="btn" class="btn" style="float:left; opacity: 0;"  type="button" value="Full screen mode" onclick="toggleFullScreen(document.body)">
  </main><!-- End #main -->
    <!-- ======= Footer ======= -->
  <footer id="footer">
    <div class="container">

<!--      <div.sticky>-->
<!--        <button class="chatbox-open" >-->
<!--          <i class="fa fa-comment fa-4x" aria-hidden="true" placeholder="Chat" style="font-family: 'Cursive'">Chat</i>-->
<!--        </button>-->
<!--        <button class="chatbox-close">-->
<!--          <i class="fa fa-close fa-4x" aria-hidden="true" placeholder="Close" >Close</i>-->
<!--        </button>-->
<!--        <section class="chatbox-popup">-->
<!--          <header class="chatbox-popup__header">-->
<!--            <aside style="flex:3">-->
<!--              <i class="fa fa-user-circle fa-4x chatbox-popup__avatar" aria-hidden="true"></i>-->
<!--            </aside>-->
<!--            <aside style="flex:8">-->
<!--              <h10>Neranga Urapola</h10>(Offline)-->
<!--            </aside>-->
<!--            <aside style="flex:1">-->
<!--              <button class="chatbox-maximize"><i class="fa fa-window-maximize" aria-hidden="true"></i></button>-->
<!--            </aside>-->
<!--          </header>-->
<!--          <div>-->
<!--            <div id="username-page">-->
<!--              <div class="chat-container">-->
<!--                <ul id="messageArea1">-->
<!--                </ul>-->
<!--                <form id="usernameForm" name="usernameForm">-->
<!--                  <div class="form-group">-->
<!--                    <div class="input-group clearfix">-->
<!--                      <div class="col-lg-7 mt-5 mt-lg-0 d-flex align-items-stretch">-->
<!--                        <footer class="chatbox-popup__footer">-->
<!--                          <aside style="flex:1;color:rgba(45,46,47,0.3);text-align:center;">-->
<!--                            <i class="fa fa-camera" aria-hidden="true"></i>-->
<!--                          </aside>-->
<!--                          <aside style="flex:10">-->
<!--                           <div style="text-align: center;"><input style="color:rgba(45,46,47,0.3)" type="text" id="Username" placeholder="Username" autocomplete="off" class="form-control"></div>-->
<!--                            <div style="text-align: center;"><button style="margin:10px" type="submit" class="php-email-form" role="button" onclick="hideAndShowForms()">Submit</button></div>-->
<!--                          </aside>-->
<!--                          <aside style="flex:1;color:rgba(45,46,47,0.3);text-align:center;">-->
<!--                            <i class="fa fa-paper-plane" aria-hidden="true"></i>-->
<!--                          </aside>-->
<!--                        </footer>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </div>-->
<!--                </form>-->
<!--              </div>-->
<!--            </div>-->
<!--            <div id="chat-page">-->
<!--              <div class="chat-container">-->
<!--                <ul id="messageArea" style="color:rgba(45,46,47,0.3)">-->
<!--                </ul>-->
<!--                <form id="messageForm" name="messageForm" style="display: none;">-->
<!--                  <div class="connecting">-->
<!--                    Connecting...-->
<!--                  </div>-->
<!--                    <div class="form-group">-->
<!--                      <div class="input-group clearfix">-->
<!--                        <aside style="flex:10">-->
<!--                        <input style="color:rgba(45,46,47,0.3)" type="text" id="message1" placeholder="Type a message..." autocomplete="off" class="form-control"/>-->
<!--                       </aside>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                    <button style="margin:10px" type="submit" class="text-center" role="button">Send</button>-->
<!--                   </form>-->
<!--                  </div>-->
<!--                </div>-->
<!--              </div>-->
<!--          </div>-->
<!--          </div>-->
<!--      </div>-->
<!--    </div>-->

    </section>
    </div.sticky>
      <div class="copyright">
       <h20><p>&copy; Copyright</p><strong><span id="name1"></span></strong></h20>
        <h14><p class="animate-charcter">Your ip is:<span class="animate-charcter" id="ip">

        </span></p></h14>
      </div>
     </div>

  </footer><!-- End  Footer -->
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>
<style>

</style>
<script type="text/javascript" src="/js/jquery.js"></script>
<script src="/assets/vendor/purecounter/purecounter_vanilla.js"></script>
<script src="/assets/vendor/aos/aos.js"></script>
<script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
<script src="/assets/vendor/glightbox/js/glightbox.min.js"></script>
<script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
<script src="/assets/vendor/swiper/swiper-bundle.min.js"></script>
<script src="/assets/vendor/typed.js/typed.umd.js"></script>
<script src="/assets/vendor/waypoints/noframework.waypoints.js"></script>
<script src="/assets/vendor/php-email-form/validate.js"></script>
<script src="/assets/js/main.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
<!--<script src="/assets/js/chat.js"></script>-->
<!--<script src="/assets/js/message.js"></script>-->
<!--<script src="/assets/js/mobile.js"></script>-->
<script src="/assets/js/ajax.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
<!-- End Document
================================================== -->
</body>
</html>