<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <style>
    body {
      margin: 0;
      padding: 0;
      overflow: hidden;
    }
    #pdf-viewer {
      width: 100%;
      height: 100vh;
    }
  </style>
</head>
<body>
<div id="pdf-viewer"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/pdf.js/2.11.338/pdf.min.js"></script>
<script>
  const url = '/pdf/view/{fileName}'

  const loadingTask = pdfjsLib.getDocument(url);
  loadingTask.promise.then(function (pdf) {
    const viewerContainer = document.getElementById('pdf-viewer');

    for (let i = 1; i <= pdf.numPages; i++) {
      pdf.getPage(i).then(function (page) {
        const canvas = document.createElement('canvas');
        viewerContainer.appendChild(canvas);
        const context = canvas.getContext('2d');

        const viewport = page.getViewport({scale: 1.0});
        canvas.width = viewport.width;
        canvas.height = viewport.height;

        const renderContext = {
          canvasContext: context,
          viewport: viewport
        };

        page.render(renderContext);
      });
    }
  }, function (reason) {
    console.error('Error: ' + reason);
  });
</script>
</body>
</html>
